@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "font-awesome/css/font-awesome.min.css";

@font-face {
    font-family: Proxima Nova;
    src: url('../fonts/ProximaNova-Regular.ttf');
 }

 @font-face {
     font-family: Proxima Nova Black;
     src: url('../fonts/ProximaNova-Black.ttf');
 }

 @font-face {
    font-family: Proxima Nova Black;
    src: url('../fonts/ProximaNova-Bold.ttf');
}
@font-face {
    font-family: Proxima Nova Black;
    src: url('../fonts/ProximaNova-Semibold.ttf');
}
@font-face {
    font-family: Proxima Nova Black;
    src: url('../fonts/ProximaNova-Light.ttf');
}

@font-face {
    font-family: Proxima Nova Black;
    src: url('../fonts/ProximaNovaT-Thin.ttf');
}
@font-face {
    font-family: Proxima Nova Black;
    src: url('../fonts/ProximaNova-Extrabld.ttf');
}

*{
    font-family: Proxima Nova;
}

.app-button {
    @apply text-sm px-6 py-3  leading-none outline-none focus:outline-none appearance-none inline-block;
}

.gray-input {
    @apply text-xs w-full px-4 py-3 border focus:bg-white focus:border-gray-200 leading-none outline-none placeholder-gray-500 bg-gray-200 appearance-none inline-block rounded-xl;
}

.auth-input {
    @apply text-xs w-full px-5 py-3 border border-green-500 leading-none outline-none placeholder-gray-500 bg-green-500 appearance-none inline-block rounded-full;
}