@import "font-awesome/css/font-awesome.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Proxima Nova;
    font-weight:400;
    src: url('../fonts/ProximaNova-Regular.ttf');
    }

    @font-face {
        font-family: Proxima Nova;
        font-weight:900;
        src: url('../fonts/ProximaNova-Black.ttf');
    }

    @font-face {
    font-family: Proxima Nova;
    font-weight:700;
    src: url('../fonts/ProximaNova-Bold.ttf');
}
@font-face {
    font-family: Proxima Nova;
    font-weight:600;
    src: url('../fonts/ProximaNova-Semibold.ttf');
}
@font-face {
    font-family: Proxima Nova;
    font-weight:200;
    src: url('../fonts/ProximaNova-Light.ttf');
}

@font-face {
    font-family: Proxima Nova;
    font-weight:100;
    src: url('../fonts/ProximaNovaT-Thin.ttf');
}
@font-face {
    font-family: Proxima Nova;
    font-weight:800;
    src: url('../fonts/ProximaNova-Extrabld.ttf');
}



*{
    font-family: Proxima Nova !important;
    /* scroll-behavior: smooth; */
}

.app-button {
    @apply text-sm mb-3 px-6 py-3  leading-none outline-none focus:outline-none appearance-none inline-block;
}

.gray-input {
    @apply text-xs w-full px-4 py-3 border focus:bg-white focus:border-gray-200 leading-none outline-none placeholder-gray-500 bg-gray-200 appearance-none inline-block rounded-xl;
}

.auth-input {
    @apply text-xs w-full px-5 py-3 border border-green-500 leading-none outline-none placeholder-gray-500 bg-green-500 appearance-none inline-block rounded-full;
}

.search-input {
    @apply text-xs w-full px-5 py-3 outline-none border border-gray-200 rounded-xl inline-block bg-white shadow-lg;
}

.select-input{
    @apply text-xs w-full px-5 py-3 outline-none bg-gray-200 rounded-xl inline-block;
}

/*create custom checkbox */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    line-height: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 100px;
  }

  /* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #E8E9FB;
    border-radius: 100px;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 7px;
    top: 4px;
    width: 6px;
    height: 10px;
    border: solid #656CE0;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }