@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: Proxima Nova;
    src: url('../fonts/ProximaNova-Regular.ttf');
 }

 @font-face {
     font-family: Proxima Nova Black;
     src: url('../fonts/ProximaNova-Black.ttf');
 }

*{
    font-family: Proxima Nova;
}

/* button styles */
.app-button {
    @apply bg-primary rounded-full px-6 text-white py-3;
}

.app-button:hover {
    background-color: #1a5702;
    transition: 0.5s;
}

.app-button:disabled {
    background: #D6D6D6 0% 0% no-repeat padding-box;
}

/* text styles */
.header-text {
    font: normal normal normal 18px/22px Proxima Nova;
    letter-spacing: 0px;
    color:#767676;
    opacity: 1;
}

.text-color {
    font: normal normal normal 25px/35px Proxima Nova;
    letter-spacing: 0px;
    color: #6C6C6C;
    opacity: 1;
}

.big-text{
    font: normal normal 900 90px/100px Proxima Nova Black;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.image-banner {
    height: 100vh !important;
    width: auto;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
}

/* card styles */
.gray-card {
    background: #F4F4F4 0% 0% no-repeat padding-box;
    opacity: 1;
}

/* input styles */
.app-input { 
    background: #F4F4F4 0% 0% no-repeat padding-box;
    border: 1px solid #F4F4F4;
    border-radius: 10px;
    opacity: 1;
    color: #2C2C2C;
    @apply outline-none px-6 py-3;
}

.app-input:active,
.app-input:focus {
    border: 1.5px solid #1a5702;
    background-color: white;
}

h3{
    font: normal normal bold 30px/55px Proxima Nova;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

h3 span {
    @apply text-primary !important;
}

h4{
    font: normal normal bold 20px/35px Proxima Nova;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

p{
    font: normal normal normal 18px/30px Proxima Nova;
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 1;
}

.icon-button{
    @apply h-11 w-11 rounded-full p-3 flex justify-center items-center;
    background: #E8E8E8 0% 0% no-repeat padding-box;
}

.logo {
    height: 40px;
    width: auto;
}

/* paddings */

.section-padding {
    padding-top: 300px;
}

.big-padding {
    padding-top: 200px;
}

.medium-padding {
    padding-top: 120px;
}

.small-padding {    
    padding-top: 30px;
}

.xs-padding {
    padding-top: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    object-fit: cover;
}

